<html>
    <head>
        <title>
            Formulário
        </title>
    </head>
    <body>
        <p>teste</p>
<<<<<<< HEAD
        <form action="/soma" method="post">
=======
        <form action="/soma" method="get">
>>>>>>> 8c01921966367c30dfc0e8d33bd627c7197bd26c
            <label>Digite um número: </label> 
            <input type="number"  name="n1">
             <br>
             <br>
            <label>Digite outro número: </label> 
            <br>
            <br>
            <input type="number"  name="n2"> 
            <br>
            <br>
            <input type="submit">
        </form>
    </body>
</html>