<html>
    <head>
        <title>
            Formulário
        </title>
    </head>
    <body>
        <p>teste</p>
        <form action="/ola" method="get">
            <label>Escreva seu nome:</label>
            <input type="text" name="nome">
            <input type="submit">
        </form>
    </body>
</html>