<html>
    <head>
        <title>
            Formulário
        </title>
    </head>
    <body>
        <p>teste</p>
        <form action="/paginaHome" method="post">
            <label>Digite suas informações:</label> <br>
            <input type="text" placeholder="NOME" name="nome"> <br>
            <input type="text" placeholder="SOBRENOME" name="sobrenome"> <br>
            <input type="text" placeholder="CIDADE" name="cidade"> <br>
            <input type="submit">
        </form>
    </body>
</html>