<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="gpt.css">
</head>

<body>
    <h1>Quer conhecer Quissamã?</h1>
    <h2>Pontos turísticos:</h2>
    <ul>
        <a href="/jub">
            <li>Jurubatiba</li>
        </a>
        <a href="/cas">
            <li>Casa Rosa</li>
        </a>
        <a href="/sob">
            <li>Sobradinho</li>
        </a>
        <a href="/mac">
            <li>Machadinha</li>
        </a>
    </ul>
</body>

</html>