<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jurubatiba</title>
</head>

<body>
    <h1>Jurubatiba</h1>
        <p>Criado no dia 28 de abril de 1998,</p> 
        <p>a reserva tem o objetivo de proteger</p>
        <p>um verdadeiro tesouro que é a área</p>      
        <p>de restinga mais bem preservada do</p>      
        <p>litoral brasileiro. A região está</p>     
        <p>na mira de pesquisadores e biólogos</p>   
        <p></p>do mundo todo, pois abriga uma flora
        <p>e fauna rica com muitas espécies que</p>    
        <p>só existem ali. Jurubatiba tem moradores</p>   
        <p>ilustres como jacarés do papo amarelo,</p>     
        <p>cachorros do mato, tamanduás e uma</p>     
        <p>infinidade de plantas, aves migratórias</p>     
        <p>e peixes.</p>     
        <br></br>
    <%- include('rodape')%>
</body>
</html>