<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machadinha</title>
</head>

<body>
    <h1>Machadinha</h1>
      <p>Localizada na Rodovia Municipal MC-67,</p>
      <p>a antiga fazenda sobrevive em um sistema</p>    
      <p>de autogestão da comunidade. O complexo</p>   
      <p>é formado pelas ruínas da casa grande,</p>   
      <p>o antigo armazém, a capela de Nossa Senhora</p>   
      <p>do Patrocínio e o conjunto de senzalas</p>    
      <p>totalmente restauradas. Um dos destaques</p>    
      <p>do complexo é o Memorial Machadinha.</p>    
      <p>Construído onde antes era o antigo salão</p>    
      <p>comunitário, o Memorial tem como objetivo </p>    
      <p>preservar a história do povo que deixou</p>    
      <p>Kissama, em Angola, para se instalar no</p>   
      <p>Brasil, dando origem ao município de Quissamã.</p>    
      <br></br>
    <%- include('rodape')%>
</body>
</html>