<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobradinho</title>
</head>

<body>
    <h1>Sobradinho</h1>
            <p>O Sobradinho é um casarão da década</p>
            <p>de 1870. No fim do século XIX, foi</p>
            <p>construída a Estação da Freguesia no</p>
            <p>entorno da propriedade, com total de</p> 
            <p>40 quilômetros de linha férrea.</p>
            <p>Atualmente tem o objetivo de agregar</p>
            <p>iniciativas educacionais e culturais,</p>
            <p>onde se encontram oficinas de arte,</p>
            <p>dança, música, xadrez e teatro.</p>
            <p>O prédio abriga também a Biblioteca</p>
            <p>Pública Municipal de Quissamã,</p> 
            <p>o Cine Quissamã, o Café da Romana</p>
            <p>e uma réplica da antiga Estação Ferroviária.</p>
            <br></br>
    <%- include('rodape')%>
</body>
</html>